.teamListTab {
    background: rgb(29, 38, 51);
    border: 1px solid rgb(52, 61, 79);
    box-sizing: border-box;
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    margin-bottom: 30px;
    position: relative;
}

#teamListContainer {
    width: 92%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamListDialogOutline {
    background: rgb(29, 38, 51);
    border: 1px solid rgb(52, 61, 79);
    box-sizing: border-box;
    border-radius: 20px;
    width: 30vw;
    min-width: 300px;
    padding: 30px
}