#babyListContainer {
    width: 95%;
    min-width: 400px;
    max-width: 1200px;
}

#babyListWraper {
    width: 100%;
    background: rgb(29, 38, 51);
    border: 1px solid rgb(52, 61, 79);
    box-sizing: border-box;
    border-radius: 40px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.singleInfoBoxTitle {
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:gray;
    font-weight: 700;
    padding: 25px 0 30px 0;
}

.singleInfoBox {
    width: 12%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 700;
    padding: 5px 0 5px 0;
}

.enabled {
    color: rgb(254, 153, 59) !important;
    cursor: pointer;
}

.disabled {
    cursor: default;
    color: grey !important
}

#babyInfoDialog {
    background: rgb(29, 38, 51);
    border: 2px solid rgb(52, 61, 79);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 20px 40px 25px 10px
}

#dialogImg {
    height: 250px;
    width: 250px;
}

.prograssBarWraper {
    background: rgb(29, 38, 51);
    border: 2px solid rgb(52, 61, 79);
    box-sizing: border-box;
    border-radius: 40px;
    padding: 3px 10px 3px 30px;
    margin-top: 10px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}