.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

#topbar {
    width: 100%;
    padding: 25px 0 25px 0px;
    background-color: rgb(29, 38, 51);
    border-bottom: 1px solid rgb(4, 6, 8);
    position: fixed;
    top: 0;
    left: 0;
    justify-content: space-around;
    z-index: 100;
    align-items: center;
}

#homeContainer {
    width: 100%;
    background-color: rgb(19, 23, 31);
    display: flex;
    flex-direction: column;
}

#topNav {
    border-radius: 14px;
    background: rgb(29, 38, 51);
    padding: 3px;
    border: 2px solid rgb(52, 61, 79);
    width: 90%;
    max-width: 1200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    padding: 5px 0 5px 0 ;
    border-radius: 12px;
}

.button.selected {
    background: linear-gradient(rgb(254, 153, 59) 0%, rgb(255, 200, 93) 100%);
}

.wpTabContainer {
    width: 92vw;
    max-width: 300px;
    background: yellow;
    border-radius: 40px;
    color: rgb(255, 183, 81);
    padding: 20px;
    margin: 40px 20px 40px 20px;
    background: rgb(29, 38, 51);
    border: 1px solid rgb(52, 61, 79);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.wpTabContainer.selected {
    border: 2px solid rgb(255, 183, 81);
}

.wpTabContentText {
    font-size: 14.5px;
    font-weight: 700;
    width: 100%;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.priceText {
    color: rgb(244, 238, 255);
    font-size: 16px;
}

@media screen and (max-width: 800px) {
    .button {
        font-size: 15px;
    }

    .priceText {
        font-size: 14px;
    }
}